$app-bg-color: #0c315f;

$theme-disabled-color: #b5b5b5;

$theme-red-color: #fff;
$theme-red-bgColor: #fb2b2b;

$theme-green-color: #fff;
$theme-green-bgColor: #0e8d50;

$theme-blue-color: #fff;
$theme-blue-bgColor: #2b88fb;